pyautogui==0.9.54
selenium==4.15.2
undetected-chromedriver==3.5.4
selenium-stealth==1.0.6
fake-useragent==1.4.0
opencv-python-headless==4.8.1.78
Pillow>=9.2.0
websocket-client==1.6.4
websockets==12.0
python-dotenv==1.0.0
pynput==1.7.6
numpy==1.24.3
requests==2.31.0
pytesseract==0.3.10
python-xlib==0.33
mss==9.0.1